---
import '~/styles/global.css';
import BallotLayout from '~/components/BallotLayout.astro';

export const prerender = false;

const selectedDistrict = null;
const ballotData = null;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vote View - Your Local Ballot Information</title>
	</head>
	<body class="min-h-screen bg-gray-100">
		<BallotLayout selectedDistrict={selectedDistrict} ballotData={ballotData} />
	</body>
</html>
